<div class="top-row container" style="max-width: 100vw; background-color: rgba(255, 255, 255, 0.5)">
    <div class="row" style="width: 100%">
        <div class="col d-flex align-items-center">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">
                        Торговля
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/players">
                        Персонажи
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/items">
                        Предметы
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/traders">
                        Торговцы
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/discounts">
                        Скидки
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/categories">
                        Категории
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>