<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap/select2.min.css" rel="stylesheet">
    <link href="css/bootstrap/select2-bootstrap-5-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css"/>
    
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap/jquery.slim.min.js"></script>
    <script src="js/bootstrap/select2.full.min.js"></script>
    <script src="js/MultiDropdown.js"></script>
    <script src="js/SearchDropdown.js"></script>
    <script src="js/SaveFileFunc.js"></script>
    <script src="js/popper.min.js"></script>
    
    <link rel="stylesheet" href="DndTraderServer.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
<Routes @rendermode="new InteractiveServerRenderMode(prerender: false)"/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>